
.m-10 {
    margin: 11px
}
.ratings .fa-star {
    color: var(--red-color);
}

.m-20 {
    margin: 21px;
}

.ml-20 {
    margin-left: 21px;
}

.mr-20 {
    margin-right: 21px;
}

mark {
    background-color: var(--pink-color);
}
.my-20 {
    margin-top: 21px;
}

.mb-20 {
    margin-bottom: 21px;
}


.mr-10 {
    margin-right: 11px;
}

.my-10 {
    margin-top: 11px;
}

.mb-10 {
    margin-bottom: 11px;
}

.pl-30 {
    padding-left: 31px;
}
.fa-star {
    color: var(--white-color);
}
.my-70 {
    margin-top: 71px;
}


.pd-20 {
    padding: 21px;
}
.pr-30 {
    padding-right: 31px;
}


.red {
    color: var(--red-color);
}
.flexbox-center {
    display: flex;
    flex-wrap: wrap;
}
.text-center {
    text-align: center;
}


.fa-map-marker {
    color: var(--red-color);
}
.flexbox {
    display: flex;
}
.justify {
    text-align: justify;
    letter-spacing: normal;
}


.secondary {
    color: var(--secondary-color);
}
.radius-20,
.image-skeleton {
    border-radius: 21px !important;
}
.place {
    color: var(--font-color);
}
