input:checked+.slider:before {
    transform: translateX(27px);
}
.slider.round:before {
    border-radius: 50%;
}
.toggle-switch {
    display: flex;
    align-items: center;
}


.mode-switch input {
    display: none;
}

.slider {
    background-color: var(--black-color);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .3s;
}

.slider:before {
    background-color: var(--white-color);
    bottom: 7px;
    content: "";
    min-height: 33px;
    left: 13px;
    position: absolute;
    transition: .4s;
    min-width: 33px;
}

input:checked+.slider {
    background-color: var(--pink-color);
}


.slider.round {
    border-radius: 35px;
}

.mode-switch {
    display: inline-block;
    padding: 23px;
    position: relative;
    width: 81px;
}