.ratingSkeleton {
    height: 30px;
    width: 80px;
    position: absolute;
    bottom: -10px;
    font-size: 20px;
    font-family: 'Questrial', sans-serif;
    text-align: center;
    padding: 5px 0 10px 10px;
    text-transform: capitalize;
    left: -15px;
    letter-spacing: 1px;
}

.ratingSkeleton:before {
    position: absolute;
    content: "";
    height: 0;
    width: 0;
    border-top: 10px solid transparent;
    border-left: 15px solid transparent;
    left: 0;
    bottom: -10px;
}

.detail-grid-skeleton {
    height: 171px;
    width: 281px;
}

.city-skeleton,
.ratings-skeleton {
    width: 150px;
    height: 21px;
}

.deskripsi-skeleton {
    width: 100%;
    height: 201px;
}

.skeleton {
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: skeletonLoading;
    -webkit-animation-timing-function: linear;
    background: var(--skeleton-color);
    background-image: -webkit-gradient(linear, left center, right center, from(#e8eaec), color-stop(.2, #d3d3d3), color-stop(.4, #dbdbdb), to(#f6f7f8));
    background-image: -webkit-linear-gradient(left, #eeeeee 0%, #e0dddd 20%, #d9d9da 40%, #e4e4e4 100%);
    background-repeat: no-repeat;
    border-radius: 2px;
    color: transparent;
}

@keyframes skeletonLoading {
    0% {
        background-position: -468px 0;
    }

    100% {
        background-position: 468px 0;
    }
}

.h-35 {
    width: 251px !important;
    height: 36px;
}

.h-30 {
    width: 100%;
    height: 31px;
}

.h-20 {
    width: 51px;
    height: 21px;
}

.h-25 {
    width: 201px;
    height: 26px;
}

.h-200 {
    width: 100%;
    height: 201px;
}